<mat-toolbar color="primary">
  <a [routerLink]="'/'"
      mat-icon-button
      class = "example-icon" arial-label="Example icon-button with menu icon">
      <mat-icon>menu_books</mat-icon>
  </a>

  <span>Portal</span>
  <span class="example-spacer"></span>
  <a [routerLink] = "'/login'" mat-icon-button
      class = "example-icon favorite-icon mr20"
      arial-label="Example icon-button with hearth icon">
    Iniciar Session
  </a>

  <a [routerLink] = "'/signup'" mat-icon-button
      class = "example-icon favorite-icon mr50 ml70"
      arial-label="Example icon-button with hearth icon">
    Registrarse
  </a>

</mat-toolbar>
