<mat-toolbar color="primary">
  <a
      [routerLink]="'/'"
      mat-icon-button
      class = "example-icon"
      arial-label="Example icon-button with menu icon">

      <mat-icon>menu_books</mat-icon>
  </a>

  <span>Portal</span>
  <span class="example-spacer"></span>

  <!-- cuando no esta iniciada la session -->

  <a
      *ngIf="!loginNavbar.isLoggedIn()"
      [routerLink] = "'/login'"
      mat-icon-button
      class = "example-icon favorite-icon mr20"
      arial-label="Example icon-button with hearth icon">
    Iniciar Session
  </a>

  <a
      *ngIf="!loginNavbar.isLoggedIn()"
      [routerLink] = "'/signup'"
      mat-icon-button
      class = "example-icon favorite-icon mr50 ml70"
      arial-label="Example icon-button with hearth icon">
    Registrarse
  </a>

  <!-- cuando esta iniciada la session -->

  <button
     *ngIf="loginNavbar.isLoggedIn() && user"
      mat-button
      mat-icon-button
      class = "example-icon favorite-icon mr20"
      routerLink = "/admin/profile"
      arial-label="Example icon-button with hearth icon">
      {{ user.username }}
  </button>

  <a
      *ngIf="loginNavbar.isLoggedIn()"
      (click) = "logoutNavbar()"
      mat-icon-button
      class = "example-icon favorite-icon mr50 ml70"
      arial-label="Example icon-button with hearth icon">
    Cerrar Session
  </a>

</mat-toolbar>
