<mat-card>
  <mat-action-list>
    <div mat-subheader>Menu</div>
    <button mat-list-item routerLink="/admin">
      <mat-icon mat-list-icon>home</mat-icon>
      Home
    </button>
    <button mat-list-item routerLink="/admin/profile">
      <mat-icon mat-list-icon>account_circle</mat-icon>
      Perfil
    </button>
    <button mat-list-item routerLink="/admin/assess">
      <mat-icon mat-list-icon>square_foot</mat-icon>
      Generar Cotizacion
    </button>
    <button mat-list-item routerLink="/admin/view-assess">
      <mat-icon mat-list-icon>account_circle</mat-icon>
      Ver cotizaciones
    </button>
  </mat-action-list>
</mat-card>
